.post-container {
    padding: 22px 44px;
}

.post-avatar {
    height: 60px;
    width: 60px;
    border-radius: 9999px;
    /* background-color: #FBB03B; */
}

.post-username {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.post-image {
    border-radius: 10px;
    height: 256px;
    width: 100%;
    object-fit: cover;
}

.post-container:nth-child(even) {
    border-top: 0.5px solid #030229;
    border-bottom: 0.5px solid #030229;
}