html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-LightPurple {
  background-color: LightPurple;
  /* Replace with your desired color value */
  height: 100%;
}

/* Additional styles for the content if needed */
#root {
  height: 100%;
}